html,
body {
	font-family: 'Electrolize', sans-serif;
	margin:0;
	padding:0;
	height:100%;
}
#page {
	min-height:100%;
	background-color: black;
}
#header {
	border-bottom: 5px solid white;
	height:150px;
	background-color: black;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}
.banner {
	position: absolute;
	height:100px;
	padding-left: 30px;
	padding-top: 15px;
}
.exologo {
	position: absolute;
	right: 15px;
	top: 15px;
	height: 90px;
}
h2 {
	color: orange;
}
h3 {
	color: #707070;
}
#nav {
	bottom: 0px;
	font-size: 1.3em;
	position: relative;
	top: 120px;
	float: right;
	background-color: black;
}
#nav li {
	display: block;
	float: left;
	list-style: none;
}
#nav li a {
	color: white;
	display: block;
	padding: 7px 20px 7px 20px;
	margin: 5px 2px 5px 2px;
	line-height: 1.5px;
	text-align: center;
	text-decoration: none;
}
#nav li a:hover {
	color: orange;
}
#content {
  font-size: 1em;
  line-height: 1.5em;
  overflow-y: scroll;
  color: white;
  padding-top: 10px;
  padding-bottom: 55px;
  top: 155px;
  bottom: 75px;
  position: absolute; 
}
#column-one {
	float: left;
	width: 75%;
}
#column-one-content{
	margin-left:auto;
	margin-right:auto;
	width:60%;
}
#column-two {
	position: fixed;
	right: 0px;
	float: right;
	width: 25%;
}
#column-two-content {
	margin-left:auto;
	margin-right:auto;
	width:70%;
	padding-top: 15px;
}
#donate {
    text-align: center;
}
#footer {
  border-top: 5px solid white;
  clear: both;
  color: white;
  font-size: .7em;
  position: fixed;
  height:75px;
  bottom:0px;
  right: 5px;
  left: 5px;
  background-color: black;
}
#footer p {
  line-height: 1.5em;
  margin-top: 10px;
  text-align: center;
}
#footer a {
  color: white;
  text-decoration: underline;
}
#footer a:hover {
	color: orange;
	text-decoration: none;
}
#footer img {
	position:absolute;
	top:5px;
	right:0px;
	height:50px;
}
